@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: 'BastedClub';
  src: url('./fonts/bastedClub.ttf') format('truetype');
}

body{
  margin:0;
  padding:0;
  background-color: #C1DBF7;
}


